body {
	background: black;
	font-family: "Atma";
	font-size: 13px;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
	padding: 10px;
}

.postcard-header h1 {
	width: 100%;
	margin: 0;
	padding-top: 5px;
	font-weight: normal;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0px;
}

.body-left,
.body-right {
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
	font-family: inherit;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: rgb(185, 185, 185);
	padding: -5px 5px;
	font-family: inherit;
}
